{% extends 'base.html' %}

{% block title %}
<title>TITLE</title>
{% endblock %}

{% block content %}
<div>
  <h1>This is the main view header.</h1>
</div>
<div>
  <h2>This is a subheader.</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt leo ac nibh sollicitudin interdum. Ut pulvinar est turpis, sit amet ultricies ipsum fringilla sit amet. In ornare dictum malesuada. Nulla eget nisi elementum, congue risus non, pharetra dui. Cras condimentum risus arcu, et ornare sem imperdiet dignissim. Duis mollis quam elit, id ullamcorper elit pretium et. Nullam porttitor lectus at est ultrices suscipit. Vivamus mi leo, finibus ac erat sed, pretium viverra libero. Donec eros augue, vulputate eu nulla eget, feugiat hendrerit eros. Suspendisse eu imperdiet nisl. Morbi sodales fermentum efficitur.</p>
</div>
<div>
  <h2>Also a subheader</h2>
  <p>Pellentesque blandit justo ut ante suscipit sodales. Donec congue sem lectus, eu aliquet dui pharetra pellentesque. Nullam efficitur turpis vitae lacinia porta. Curabitur sed nisl sagittis, vulputate ipsum sed, tincidunt lectus. Ut quis purus gravida, eleifend nisl aliquet, venenatis nisi. Aenean semper sed libero sagittis dapibus. Nam eu egestas lectus. Morbi interdum, ante ac rutrum accumsan, metus enim porttitor metus, ut cursus arcu tellus eget metus. Integer placerat nunc et imperdiet rutrum. Curabitur ut laoreet mauris, vitae imperdiet libero. Vestibulum a ultricies justo. In hac habitasse platea dictumst. Aenean aliquam massa ut ligula congue commodo in id ipsum. Morbi dapibus elementum neque at aliquet. Ut ac ornare augue.</p>
</div>
{% endblock %}
