{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block title%}
    {% endblock %}
  </head>
  <body>
    <p class='header'>This is base.html parenting the following template:</p>
    <div class="base-container">
    {% block content %}
    {% endblock %}
    </div>
    <p class='footer'>Created by erik@theconditionalpixel.nl</p>
  </body>
</html>
